@RenderPage("header.cshtml")
@{var engine = "Razor";}

<!---->
<!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>Checkout</h3>
        <h4><a href="index.html">Home</a><label>/</label>Register</h4>
        <div class="clearfix"> </div>
    </div>
</div>

<!--register-->

<div class="register">
    <form class="well form-horizontal " action="#" method="post" id="client_checkout_form">

        <!-- NAME -->
        <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="checkoutName" name="checkoutName" placeholder="Name" class="form-control" type="text" value='@Session["name"]' required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>


        <!-- EMAIL -->
        <div class="form-group">
            <label class="col-md-3 control-label">Email</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="checkoutEmail" name="checkoutEmail" placeholder="Email" class="form-control" type="text" value="@Session["username"]" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>

        <!-- NIF -->
        <div class="form-group">
            <label class="col-md-3 control-label">NIF</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="checkoutNif" placeholder="NIF. Must have 9 characters Ex: 123456789" class="form-control" type="number" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>

        <!-- ADDRESS -->
        <div class="form-group">
            <label class="col-md-3 control-label">Morada</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="checkoutAddress" placeholder="Morada" class="form-control" type="text" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>
        
        <!-- POSTAL -->
        <div class="form-group">
            <label class="col-md-3 control-label">Código Postal</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="checkoutPostal" placeholder="Código: XXXX-XXX" class="form-control" type="text" value="@Session["codPostal"]" required>
                    <input name="checkoutLocalidade" placeholder="Localidade" class="form-control" type="text" value ="@Session["localidadeCP"]" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>

<!-- Telemóvel   -->
        <div class="form-group">
            <label class="col-md-3 control-label">Telemóvel</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="checkoutTelemovel" placeholder="Telemóvel: XXX XXX XXX" class="form-control" type="number" value=@Session["numTelemovel"] required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>

        <div class="form-group" id="checkoutPayment">
            <label class="col-md-3 control-label">Pagamento</label>
            <label class="radio-inline"><input type="radio" name="pay" value="paypal">Paypal</label>
            <label class="radio-inline"><input type="radio" name="pay" value="visa">VISA</label>
            <label class="radio-inline"><input type="radio" name="pay" disabled value="cheque">Cheque</label>
        </div>
           


            <!-- SUCCESS MESSAGE -->
            <div id="checkout_success" class="text-center">
            </div>
            <!-- FAILURE MESSAGE -->
            <div id="checkout_failure" class="text-center">
            </div>

        </div>
    </form>
    <button id="checkoutSubmit" class="btn btn-success center-block" onclick="makeOrder()">Checkout</button>
</div>
<script type='text/javascript'>
    autoFill();
</script>

@RenderPage("footer.cshtml")