@{
    ViewBag.Title = "Footer";
}
<br>
</body>
<footer> 
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-grid">
            <h3></h3>
            <p>
               
            </p>
        </div>
       <!-- <div class="col-md-3 footer-grid ">
            <h3>Menu</h3>
            <ul>
                <li><a href="/Home/index">Home</a></li>
                <li><a href="kitchen.html">Categories</a></li>
                <li><a href="codes.html">Short Codes</a></li>
                <li><a href="contact.html">Contact</a></li> 
            </ul>
        </div>
        <div class="col-md-3 footer-grid ">
            <h3>Customer Services</h3>
            <ul>
                <li><a href="shipping.html">Shipping</a></li>
                <li><a href="terms.html">Terms & Conditions</a></li>
                <li><a href="faqs.html">Faqs</a></li>
                <li><a href="contact.html">Contact</a></li>

            </ul>
        </div>-->
        <div class="col-md-3 footer-grid">
            <ul>
                 @if (@Session["username"] == null) {
                  <li><a href="Home/register">Register</a></li>
                }
               

            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="footer-bottom">
            
        </div>
        <div class="copy-right">
            
        </div>
    </div>
</div>


    <div id="descriptionHolder">
        <div class="modal fade" id="myModal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body modal-spa">
                        <div class="col-md-5 span-2">
                            <div class="item">
                                <img id="productImage" src="../../../Images/i7.png" class="img-responsive" alt="">

                                   @if (((string)@Session["type"]) == "admin") {
                                <form name="form1" class="imageUpload" method="post" enctype="multipart/form-data" action="api/imageUpload">
                                     <input type="hidden" name="productID" class="productID" value="test" />
                                     <div>
                                        <label for="image1">Image File: </label>
                                        <input id="imageUpload" name="image1" type="file" />
                                    </div>                                 
                                    <div>
                                        <input class="imageUploadBtn" type="submit" value="Submit" />
                                    </div>
                                    <!-- SUCCESS MESSAGE -->
                                    <div id="image_success" class="text-center">
                                    </div>
                                    <!-- FAILURE MESSAGE -->
                                    <div id="image_failure" class="text-center">
                                    </div>
                                </form>
                                   }
                            </div>
                            
                        </div>
                        <div class="col-md-7 span-1 ">
                            <h3>Oil(500 g)</h3>
                              @if (((string)@Session["type"]) == "admin") {  
                            <span class="glyphicon glyphicon-edit"></span>
                            <div contenteditable="true" class="in-para productDescEdit"> There are many variations of passages of Lorem Ipsum.</div>
                             } else{  
                             <p class="in-para"> There are many variations of passages of Lorem Ipsum.</p>
                             }  
                            <div class="price_single">
                                <span class="reducedfrom "><del>$1.00</del>$0.70</span>

                                <div class="clearfix"></div>
                            </div>
                              <div class='score' ></div>

                            <h4 class="quick">Quick Overview:</h4>
                            <p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
                            <div class="add-to">
                                <button class="btn btn-danger my-cart-btn my-cart-btn1" data-id="28" data-name="Oil(500 g)" data-summary="summary 28" data-price="0.70" data-price-original="0.70" data-quantity="1" data-image="../../../Images/i7.png">Add to Cart</button>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body modal-spa">
                        <div class="col-md-5 span-2">
                            <div class="item">
                                <img id="productImage" src="../../../Images/i7.png" class="img-responsive" alt="">

                                @if (((string) @Session["type"]) == "admin") {
                                    <form name="form1" class="imageUpload" method="post" enctype="multipart/form-data" action="api/imageUpload">
                                        <input type="hidden" name="productID" class="productID" value="test" />
                                        <div>
                                            <label for="image1">Image File: </label>
                                            <input id="imageUpload" name="image1" type="file" />
                                        </div>
                                        <div>
                                            <input class="imageUploadBtn" type="submit" value="Submit" />
                                        </div>
                                        <!-- SUCCESS MESSAGE -->
                                        <div id="image_success" class="text-center">
                                        </div>
                                        <!-- FAILURE MESSAGE -->
                                        <div id="image_failure" class="text-center">
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                        <div class="col-md-7 span-1 ">
                            <h3>Oil(500 g)</h3>
                            @if (((string)@Session["type"]) == "admin") {    
                            <span class="glyphicon glyphicon-edit"></span>
                            <div contenteditable="true" class="in-para productDescEdit"> There are many variations of passages of Lorem Ipsum.</div>
                             } else{  
                             <p class="in-para"> There are many variations of passages of Lorem Ipsum.</p>
                             }  
                            <div class="price_single">
                                <span class="reducedfrom "><del>$1.00</del>$0.70</span>

                                <div class="clearfix"></div>
                            </div>
                               <div class='score' ></div>
                            <h4 class="quick">Quick Overview:</h4>
                            <p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
                            <div class="add-to">
                                <button class="btn btn-danger my-cart-btn my-cart-btn1" data-id="28" data-name="Oil(500 g)" data-summary="summary 28" data-price="0.70" data-price-original="0.70" data-quantity="1" data-image="../../../Images/i7.png">Add to Cart</button>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body modal-spa">
                        <div class="col-md-5 span-2">
                            <div class="item">
                                <img id="productImage"  src="../../../Images/i7.png" class="img-responsive" alt="">
                                @if (((string) @Session["type"]) == "admin") {
                                    <form name="form1" class="imageUpload" method="post" enctype="multipart/form-data" action="api/imageUpload">
                                        <input type="hidden" name="productID" class="productID" value="test" />
                                        <div>
                                            <label for="image1">Image File: </label>
                                            <input id="imageUpload" name="image1" type="file" />
                                        </div>
                                        <div>
                                            <input class="imageUploadBtn" type="submit" value="Submit" />
                                        </div>
                                        <!-- SUCCESS MESSAGE -->
                                        <div id="image_success" class="text-center">
                                        </div>
                                        <!-- FAILURE MESSAGE -->
                                        <div id="image_failure" class="text-center">
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                        <div class="col-md-7 span-1 ">
                            <h3>Oil(500 g)</h3>
                            @if (((string)@Session["type"]) == "admin") {    
                            <span class="glyphicon glyphicon-edit"></span>
                            <div contenteditable="true" class="in-para productDescEdit"> There are many variations of passages of Lorem Ipsum.</div>
                             } else{  
                             <p class="in-para"> There are many variations of passages of Lorem Ipsum.</p>
                             }  
                            <div class="price_single">
                                <span class="reducedfrom "><del>$1.00</del>$0.70</span>

                                <div class="clearfix"></div>
                            </div>
                               <div class='score' ></div>
                            <h4 class="quick">Quick Overview:</h4>
                            <p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
                            <div class="add-to">
                                <button class="btn btn-danger my-cart-btn my-cart-btn1" data-id="28" data-name="Oil(500 g)" data-summary="summary 28" data-price="0.70" data-price-original="0.70" data-quantity="1" data-image="../../../Images/i7.png">Add to Cart</button>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body modal-spa">
                        <div class="col-md-5 span-2">
                            <div class="item">
                                <img id="productImage"  src="../../../Images/i7.png" class="img-responsive" alt="">
                                @if (((string) @Session["type"]) == "admin") {
                                    <form name="form1" class="imageUpload" method="post" enctype="multipart/form-data" action="api/imageUpload">
                                        <input type="hidden" name="productID" class="productID" value="test" />
                                        <div>
                                            <label for="image1">Image File: </label>
                                            <input id="imageUpload" name="image1" type="file" />
                                        </div>
                                        <div>
                                            <input class="imageUploadBtn" type="submit" value="Submit" />
                                        </div>
                                        <!-- SUCCESS MESSAGE -->
                                        <div id="image_success" class="text-center">
                                        </div>
                                        <!-- FAILURE MESSAGE -->
                                        <div id="image_failure" class="text-center">
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                        <div class="col-md-7 span-1 ">
                            <h3>Oil(500 g)</h3>
                            @if (((string)@Session["type"]) == "admin") {    
                            <span class="glyphicon glyphicon-edit"></span>
                            <div contenteditable="true" class="in-para productDescEdit"> There are many variations of passages of Lorem Ipsum.</div>
                             } else{  
                             <p class="in-para"> There are many variations of passages of Lorem Ipsum.</p>
                             }  
                            <div class="price_single">
                                <span class="reducedfrom "><del>$1.00</del>$0.70</span>

                                <div class="clearfix"></div>
                            </div>
                               <div class='score' ></div>
                            <h4 class="quick">Quick Overview:</h4>
                            <p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
                            <div class="add-to">
                                <button class="btn btn-danger my-cart-btn my-cart-btn1" data-id="28" data-name="Oil(500 g)" data-summary="summary 28" data-price="0.70" data-price-original="0.70" data-quantity="1" data-image="../../../Images/i7.png">Add to Cart</button>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body modal-spa">
                        <div class="col-md-5 span-2">
                            <div class="item">
                                <img id="productImage" src="../../../Images/i7.png" class="img-responsive" alt="">
                                @if (((string) @Session["type"]) == "admin") {
                                    <form name="form1" class="imageUpload" method="post" enctype="multipart/form-data" action="api/imageUpload">
                                        <input type="hidden" name="productID" class="productID" value="test" />
                                        <div>
                                            <label for="image1">Image File: </label>
                                            <input id="imageUpload" name="image1" type="file" />
                                        </div>
                                        <div>
                                            <input class="imageUploadBtn" type="submit" value="Submit" />
                                        </div>
                                        <!-- SUCCESS MESSAGE -->
                                        <div id="image_success" class="text-center">
                                        </div>
                                        <!-- FAILURE MESSAGE -->
                                        <div id="image_failure" class="text-center">
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                        <div class="col-md-7 span-1 ">
                            <h3>Oil(500 g)</h3>
                            @if (((string)@Session["type"]) == "admin") {    
                            <span class="glyphicon glyphicon-edit"></span>
                            <div contenteditable="true" class="in-para productDescEdit"> There are many variations of passages of Lorem Ipsum.</div>
                             } else{  
                             <p class="in-para"> There are many variations of passages of Lorem Ipsum.</p>
                             }  
                            <div class="price_single">
                                <span class="reducedfrom "><del>$1.00</del>$0.70</span>

                                <div class="clearfix"></div>
                            </div>
                               <div class='score' ></div>
                            <h4 class="quick">Quick Overview:</h4>
                            <p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
                            <div class="add-to">
                                <button class="btn btn-danger my-cart-btn my-cart-btn1" data-id="28" data-name="Oil(500 g)" data-summary="summary 28" data-price="0.70" data-price-original="0.70" data-quantity="1" data-image="../../../Images/i7.png">Add to Cart</button>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body modal-spa">
                        <div class="col-md-5 span-2">
                            <div class="item">
                                <img id="productImage"  src="../../../Images/i7.png" class="img-responsive" alt="">
                                @if (((string) @Session["type"]) == "admin") {
                                    <form name="form1" class="imageUpload" method="post" enctype="multipart/form-data" action="api/imageUpload">
                                        <input type="hidden" name="productID" class="productID" value="test" />
                                        <div>
                                            <label for="image1">Image File: </label>
                                            <input id="imageUpload" name="image1" type="file" />
                                        </div>
                                        <div>
                                            <input class="imageUploadBtn" type="submit" value="Submit" />
                                        </div>
                                        <!-- SUCCESS MESSAGE -->
                                        <div id="image_success" class="text-center">
                                        </div>
                                        <!-- FAILURE MESSAGE -->
                                        <div id="image_failure" class="text-center">
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                        <div class="col-md-7 span-1 ">
                            <h3>Oil(500 g)</h3>
                            @if (((string)@Session["type"]) == "admin") {    
                            <span class="glyphicon glyphicon-edit"></span>
                            <div contenteditable="true" class="in-para productDescEdit"> There are many variations of passages of Lorem Ipsum.</div>
                             } else{  
                             <p class="in-para"> There are many variations of passages of Lorem Ipsum.</p>
                             }  
                            <div class="price_single">
                                <span class="reducedfrom "><del>$1.00</del>$0.70</span>

                                <div class="clearfix"></div>
                            </div>
                               <div class='score' ></div>
                            <h4 class="quick">Quick Overview:</h4>
                            <p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
                            <div class="add-to">
                                <button class="btn btn-danger my-cart-btn my-cart-btn1" data-id="28" data-name="Oil(500 g)" data-summary="summary 28" data-price="0.70" data-price-original="0.70" data-quantity="1" data-image="../../../Images/i7.png">Add to Cart</button>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body modal-spa">
                        <div class="col-md-5 span-2">
                            <div class="item">
                                <img id="productImage" src="../../../Images/i7.png" class="img-responsive" alt="">
                                @if (((string) @Session["type"]) == "admin") {
                                    <form name="form1" class="imageUpload" method="post" enctype="multipart/form-data" action="api/imageUpload">
                                        <input type="hidden" name="productID" class="productID" value="test" />
                                        <div>
                                            <label for="image1">Image File: </label>
                                            <input id="imageUpload" name="image1" type="file" />
                                        </div>
                                        <div>
                                            <input class="imageUploadBtn" type="submit" value="Submit" />
                                        </div>
                                        <!-- SUCCESS MESSAGE -->
                                        <div id="image_success" class="text-center">
                                        </div>
                                        <!-- FAILURE MESSAGE -->
                                        <div id="image_failure" class="text-center">
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                        <div class="col-md-7 span-1 ">
                            <h3>Oil(500 g)</h3>
                            @if (((string)@Session["type"]) == "admin") {    
                            <span class="glyphicon glyphicon-edit"></span>
                            <div contenteditable="true" class="in-para productDescEdit"> There are many variations of passages of Lorem Ipsum.</div>
                             } else{  
                             <p class="in-para"> There are many variations of passages of Lorem Ipsum.</p>
                             }  
                            <div class="price_single">
                                <span class="reducedfrom "><del>$1.00</del>$0.70</span>

                                <div class="clearfix"></div>
                            </div>
                               <div class='score' ></div>
                            <h4 class="quick">Quick Overview:</h4>
                            <p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
                            <div class="add-to">
                                <button class="btn btn-danger my-cart-btn my-cart-btn1" data-id="28" data-name="Oil(500 g)" data-summary="summary 28" data-price="0.70" data-price-original="0.70" data-quantity="1" data-image="../../../Images/i7.png">Add to Cart</button>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body modal-spa">
                        <div class="col-md-5 span-2">
                            <div class="item">
                                <img id="productImage" src="../../../Images/i7.png" class="img-responsive" alt="">
                                @if (((string) @Session["type"]) == "admin") {
                                    <form name="form1" class="imageUpload" method="post" enctype="multipart/form-data" action="api/imageUpload">
                                        <input type="hidden" name="productID" class="productID" value="test" />
                                        <div>
                                            <label for="image1">Image File: </label>
                                            <input id="imageUpload" name="image1" type="file" />
                                        </div>
                                        <div>
                                            <input class="imageUploadBtn" type="submit" value="Submit" />
                                        </div>
                                        <!-- SUCCESS MESSAGE -->
                                        <div id="image_success" class="text-center">
                                        </div>
                                        <!-- FAILURE MESSAGE -->
                                        <div id="image_failure" class="text-center">
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                        <div class="col-md-7 span-1 ">
                            <h3>Oil(500 g)</h3>
                            @if (((string)@Session["type"]) == "admin") {    
                            <span class="glyphicon glyphicon-edit"></span>
                            <div contenteditable="true" class="in-para productDescEdit"> There are many variations of passages of Lorem Ipsum.</div>
                             } else{  
                             <p class="in-para"> There are many variations of passages of Lorem Ipsum.</p>
                             }  
                            <div class="price_single">
                                <span class="reducedfrom "><del>$1.00</del>$0.70</span>

                                <div class="clearfix"></div>
                            </div>
                               <div class='score' ></div>
                            <h4 class="quick">Quick Overview:</h4>
                            <p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
                            <div class="add-to">
                                <button class="btn btn-danger my-cart-btn my-cart-btn1" data-id="28" data-name="Oil(500 g)" data-summary="summary 28" data-price="0.70" data-price-original="0.70"  data-quantity="1" data-image="../../../Images/i7.png">Add to Cart</button>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body modal-spa">
                        <div class="col-md-5 span-2">
                            <div class="item">
                                <img id="productImage" src="../../../Images/i7.png" class="img-responsive" alt="">
                                @if (((string) @Session["type"]) == "admin") {
                                    <form name="form1" class="imageUpload" method="post" enctype="multipart/form-data" action="api/imageUpload">
                                        <input type="hidden" name="productID" class="productID" value="test" />
                                        <div>
                                            <label for="image1">Image File: </label>
                                            <input id="imageUpload" name="image1" type="file" />
                                        </div>
                                        <div>
                                            <input class="imageUploadBtn" type="submit" value="Submit" />
                                        </div>
                                        <!-- SUCCESS MESSAGE -->
                                        <div id="image_success" class="text-center">
                                        </div>
                                        <!-- FAILURE MESSAGE -->
                                        <div id="image_failure" class="text-center">
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                        <div class="col-md-7 span-1 ">
                            <h3>Oil(500 g)</h3>
                            @if (((string)@Session["type"]) == "admin") {    
                            <span class="glyphicon glyphicon-edit"></span>
                            <div contenteditable="true" class="in-para productDescEdit"> There are many variations of passages of Lorem Ipsum.</div>
                             } else{  
                             <p class="in-para"> There are many variations of passages of Lorem Ipsum.</p>
                             }  
                            <div class="price_single">
                                <span class="reducedfrom "><del>$1.00</del>$0.70</span>

                                <div class="clearfix"></div>
                            </div>
                               <div class='score' ></div>
                            <h4 class="quick">Quick Overview:</h4>
                            <p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
                            <div class="add-to">
                                <button class="btn btn-danger my-cart-btn my-cart-btn1" data-id="28" data-name="Oil(500 g)" data-summary="summary 28" data-price="0.70" data-price-original="0.70" data-quantity="1" data-image="../../../Images/i7.png">Add to Cart</button>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<!-- Login MODAL -->
<div id="login_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title"><strong>Login</strong></h4>
            </div>

            <div class="modal-body">
                <form id="login_form" class="form-horizontal" action="#" method="post" id="login_form">

                    <!-- USER -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Utilizador</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input name="email" id="email" placeholder="Email" class="form-control" type="text"
                                       required>

                            </div>
                        </div>
                    </div>

                    <!-- PASSWORD -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Password</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input type="password" name="password" id="password" placeholder="Password" class="form-control" type="text"
                                       required>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        <!-- SUCCESS MESSAGE -->
                        <div id="login_success" class="text-center">
                        </div>
                        <!-- FAILURE MESSAGE -->
                        <div id="login_failure" class="text-center">
                        </div>

                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="loginSubmitBtn" type="submit" class="btn btn-success" data-dismiss="modal">Login</button>
            </div>
        </div>

    </div>
</div>

    <div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-spa">
                        <h4>Product Listing:</h4><br/>
                        <div class="productListing">
                        </div>
                    
                        <h4>Order Status:</h4><br/>
                        <div class="orderStatus"></div>
                        </div>
                    
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>

    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-spa">
                    <div class="rat">
                        <h4>Rating</h4><br />
                    </div>
                    
                    <div class="rating">
                     
                        <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                        <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                        <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
                        <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                        <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
                    </div>
               
                    <div class="revText">
                        <h4>Review</h4><br />
                        <textarea maxlength="300" id="ReviewText"></textarea>
                        <input type="submit" id="submitReview">
                    </div>
                   
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

  
  

   <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //smooth scrolling -->
    <!-- for bootstrap working -->
    <script src="../../../Scripts/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <script type='text/javascript' src="../../../Scripts/jquery.mycart.js"></script>
    <script type="text/javascript">
        $(function () {

            var goToCartIcon = function ($addTocartBtn) {
                var $cartIcon = $(".my-cart-icon");
                var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({ "position": "fixed", "z-index": "999" });
                $addTocartBtn.prepend($image);
                var position = $cartIcon.position();
                $image.animate({
                    top: position.top,
                    left: position.left
                }, 500, "linear", function () {
                    $image.remove();
                });
            }

            $('.my-cart-btn').myCart({
                classCartIcon: 'my-cart-icon',
                classCartBadge: 'my-cart-badge',
                affixCartIcon: true,
                checkoutCart: function (products) {
                    $.each(products, function () {
                        console.log(this);
                    });
                },
                clickOnAddToCart: function ($addTocart) {
                    goToCartIcon($addTocart);
                },
                getDiscountPrice: function (products) {
                    var total = 0;
                    $.each(products, function () {
                        total += this.quantity * this.price;
                    });
                    return total * 1;
                }
            });

        });
    </script>


</footer>
</html>